<header>
    <nav class="navbar navbar-light">
        <div class="nav-left-section">
            <a class="navbar-brand"> <h2>ToDo List</h2></a>
            <div class="data">
                <h4>4 Incomplete Task</h4>
                <span> {{date-format date}} </span>
            </div>
        </div>

        <div class="menu">
            <a href="#" class="active">Incomplete Task</a>
            <a href="#">Completed Task</a>
        </div>
    </nav>
</header>