<section>
    <div class="container-fluid"> 
        <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
                <a href="#" class="btn btn-primary" id="btn-primary">Add Task</a>
            </div>
        </div>

        <table class="table" id="#myTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Task</th>
                    <th>Complete By</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="TableBody">
                {{#each tasks as |task|}}
                    <tr>
                        <th scope="row"><i class="material-icons">check_circle_outline</i></th>
                        <td class="hand"> {{task.name}} </td>
                        <td>{{date-format task.date}}</td>
                        <td> 
                            <i class="material-icons iDark" {{action "editTask" i }}>edit</i>
                            <i class="material-icons" {{action "deleteTask" i}}>delete_outline</i>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>